<div class="row center-block mt-3">
    <div class="alert alert-info" role="alert">
        Peliculas para Niños
    </div>
</div>
<div class="row mt-3">
    <div class="card col-md-3 mb-3" *ngFor="let pelicula of peliculas">
        <img [src]="pelicula.poster_path | imagen" class="card-img-top" [alt]="pelicula.original_title">
        <div class="card-body">
            <h5 class="card-title">{{pelicula.original_title}}</h5>
            <button class="btn btn-outline-primary btn-block">Detalles</button>
        </div>
    </div>
</div>